@import "Stylesheets/constants.less";

.main {
  background-color: @dark-purple;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;

    .align-center {
      text-align: center;
    }

    .margin-bottom-small {
      margin-bottom: 2vh;
    }

    .margin-bottom-medium {
      margin-bottom: 4vh;
    }

    .margin-bottom-large {
      margin-bottom: 6vh;
    }

    .text {
      color: @off-white;

      &.small {
        font-size: 16px;
      }

      &.medium {
        font-size: 18px;
      }

      &.large {
        font-size: 20px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media (max-width: 600px) {
        height: 30vh;
      }
    }
  }
}
