@import "Stylesheets/constants.less";

.container {
  .button {
    width: 250px;
    background-color: @blue;
    color: @off-white;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    outline: none;
    padding: 12px 0;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
