@import "Stylesheets/constants.less";

.public {
  background-color: @dark-purple;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;

    .align-center {
      text-align: center;
    }

    .margin-top-small {
      margin-top: 20px;
    }

    .margin-bottom-small {
      margin-bottom: 2vh;
    }

    .margin-bottom-medium {
      margin-bottom: 4vh;
    }

    .margin-bottom-large {
      margin-bottom: 6vh;
    }

    .text {
      color: @off-white;

      &.small {
        font-size: 16px;
      }

      &.medium {
        font-size: 18px;
      }

      &.large {
        font-size: 20px;
      }

      span {
        font-style: italic;
        font-size: 17px;
      }
    }

    .error1 {
      font-size: 14px;
      font-weight: 600;
      color: @red;
      text-align: center;
      margin: 0 auto 10px auto;
    }

    .channels-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 340px;
      border-radius: 5px;
      border: 1px solid @white;
      box-sizing: border-box;
      padding: 10px;
      margin: 0 auto 30px auto;

      .channel {
        font-size: 15px;
        color: @grey;
        margin: 0 0 10px 0;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          opacity: 0.8;
        }
      }

      .none {
        font-size: 15px;
        color: @grey;
        margin: 0;
      }
    }

    .input-field-row {
      display: flex;
      flex-direction: column;
      width: 340px;
      margin: 0 auto 20px auto;

      input {
        width: 300px;
        background-color: @off-white;
        outline: none;
        border: 0;
        box-sizing: border-box;
        border-radius: 5px;
        line-height: 1.5;
        font-size: 15px;
        padding: 6px 10px;
        margin: auto;
      }

      .error2 {
        font-size: 14px;
        font-weight: 600;
        color: @red;
        text-align: center;
        margin: 10px auto 0 auto;
      }
    }

    .buttons {
      @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .spacer {
          height: 20px;
        }
      }

      @media (min-width: 601px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .spacer {
          width: 20px;
        }
      }
    }
  }
}
