@import "Stylesheets/constants.less";

.chat {
  background-color: @dark-purple;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;

    .info-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 10px auto;

      @media (max-width: 600px) {
        width: 90vw;
      }

      @media (min-width: 601px) {
        width: 60vw;
      }

      .info-buttons {
        display: flex;

        .spacer {
          width: 10px;
        }
      }
    }

    .container-text {
      font-size: 18px;
      font-weight: 600;
    }

    .error {
      .container-text();
      color: @red;
    }

    .chat-info {
      .container-text();
      color: @blue;
    }

    .messages {
      height: 45vh;
      background-color: @light-purple;
      box-sizing: border-box;
      border-radius: 10px;
      overflow-y: scroll;
      margin: 0 auto 20px auto;

      @media (max-width: 600px) {
        width: 90vw;
        padding: 10px;
      }

      @media (min-width: 601px) {
        width: 60vw;
        padding: 20px;
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
      }

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background: @dark-purple;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: @grey;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: @grey;
      }

      p {
        font-size: 15px;
        color: @grey;
        margin: 0 0 10px 0;
      }
    }

    input {
      width: 60vw;
      background-color: @off-white;
      outline: none;
      border: 0;
      box-sizing: border-box;
      border-radius: 5px;
      line-height: 1.5;
      font-size: 15px;
      padding: 6px 10px;
      margin: auto;

      @media (max-width: 600px) {
        width: 90vw;
      }

      @media (min-width: 601px) {
        width: 60vw;
      }
    }

    .button-box {
      display: flex;
      justify-content: space-between;
      margin: 2vh auto 0 auto;

      @media (max-width: 600px) {
        width: 90vw;
      }

      @media (min-width: 601px) {
        width: 60vw;
      }
    }
  }
}
