@import "Stylesheets/constants.less";

.container {
  .button {
    width: 150px;
    color: @off-white;
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    outline: none;
    padding: 8px 0;

    &.blue {
      background-color: @blue;
    }

    &.red {
      background-color: @red;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
