@import "Stylesheets/constants.less";

.footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  text-align: center;

  .line {
    display: inline-block;
  }

  @media (max-width: 500px) {
    padding: 0 30px;
  }

  @media (min-width: 501px) {
    width: 100%;

    .line {
      &:first-child {
        margin-right: 5px;
      }
    }
  }

  .copyright {
    font-size: 18px;
    color: @grey;
  }
}
