@import "Stylesheets/constants.less";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @dark-purple;
  padding-top: 2vh;
  margin-bottom: 10vh;

  .chat-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  .heading {
    color: @off-white;
    font-size: 28px;

    span {
      font-weight: 700;
      letter-spacing: 0.04em;
    }
  }
}
