@import "Stylesheets/constants.less";

.unauthorized {
  background-color: @dark-purple;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;

    .text {
      font-size: 18px;
      color: @red;
      text-align: center;
      margin-bottom: 4vh;
    }

    .button {
      display: flex;
      justify-content: center;
    }
  }
}
